@media (min-width: 300px) {
  * {
    margin: 0;
    padding: 0; }

  ul li {
    list-style-type: none; }

  a {
    text-decoration: none;
    color: crimson; }

  .container {
    position: relative;
    width: 100%;
    height: 670px; }

  .navigation {
    position: absolute;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    padding: 20px; }

  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display-direction: row;
    width: 100%;
    margin-left: 0px; }

  .nav li {
    color: #fff;
    text-shadow: none;
    list-style-type: none;
    margin: 20px 20px;
    font-size: 25px;
    font-weight: bold;
    font-family: "poiret one", serif; }

  .nav2 {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0; }

  .nav li:hover .nav2 {
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-fiction: linear; }

  @keyframes fadein {
    0% {
      opacity: 1; }
    50% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  .head {
    color: crimson;
    position: absolute;
    top: 430px;
    left: 5%;
    border-top: 1px solid crimson;
    width: 100%; }

  .head h3 {
    font-size: 60px;
    padding-top: 7px;
    font-family: "Playfair Display", serif;
    color: crimson; }

  .head h3 span {
    font-family: "lobster";
    color: crimson; }

  .head h2 {
    color: crimson;
    padding-top: 10px;
    font-size: 30px;
    font-family: "playfair display", serif; }

  .content {
    background: #bc758b;
    padding: 100px 0;
    width: 100%;
    position: relative; }

  .content-h {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }

  .con1 {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .con1 h1 {
    padding-left: 27%;
    color: crimson;
    font-size: 35px;
    font-family: "indie flower", serif; }

  .con1 h3 {
    padding-left: 10%;
    color: crimson;
    font-family: "lobster"; }

  .con1 p {
    color: crimson;
    font-family: "lobster"; }

  .hero {
    width: 100%;
    position: relative;
    background: #59599a;
    padding: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }

  .he1, .he3 {
    font-size: 35px;
    font-family: "indie flower", serif;
    padding: 50px 0;
    color: #080840; }

  .he2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px; }

  .he2 div {
    width: 50%;
    color: #080840;
    font-family: "lobster"; }

  .he2 .he21 {
    width: 50%; }

  .he2 .he22 {
    width: 50%; }

  .features {
    width: 100%;
    padding: 50px 0;
    background: #4fa06b;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

  .fea1, .fea3 {
    font-size: 35px;
    font-family: "indie flower", serif;
    padding: 50px 0;
    color: #064b13;
    padding-left: 13%; }

  .fea2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    margin-left: 14%; }

  .fea p {
    color: #064b13;
    font-family: "lobster";
    padding: 0 5%; }

  .fea2 .fea21 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

  .fea2 .fea21 h1 {
    font-family: "indie flower", serif;
    color: #064b13; } }
@media (min-width: 1360px) {
  * {
    margin: 0;
    padding: 0; }

  ul li {
    list-style-type: none; }

  a {
    text-decoration: none;
    color: crimson; }

  .container {
    position: relative;
    width: 1349px;
    height: 670px; }

  .fd1 {
    position: relative;
    height: 670px;
    width: 1349px; }

  .ful1 {
    overflow: hidden;
    width: 4000px;
    margin: 0;
    padding: 0;
    list-style: none; }

  .ful1 li {
    width: 1349px;
    height: 670px;
    position: absolute; }

  .ful1 li img {
    width: 1349px;
    height: 670px; }

  .navigation {
    position: absolute;
    display: flex;
    width: 100%; }

  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display-direction: row;
    justify-content: center;
    width: 100%; }

  .nav li {
    color: #fff;
    text-shadow: none;
    list-style-type: none;
    margin: 20px 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: "poiret one", serif; }

  .nav2 {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0; }

  .nav li:hover .nav2 {
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-fiction: linear; }

  @keyframes fadein {
    0% {
      opacity: 1; }
    50% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  .head {
    color: crimson;
    position: absolute;
    top: 430px;
    left: 60px;
    border-top: 1px solid crimson;
    width: 700px; }

  .head h3 {
    font-size: 60px;
    padding-top: 7px;
    font-family: "Playfair Display", serif;
    color: crimson; }

  .head h3 span {
    font-family: "lobster";
    color: crimson; }

  .head h2 {
    color: crimson;
    padding-top: 10px;
    font-size: 30px;
    font-family: "playfair display", serif; }

  .content {
    background: #bc758b;
    padding: 100px 0;
    width: 100%;
    position: relative; }

  .content-h {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around; }

  .con1 {
    width: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .con1 h1 {
    padding-left: 27%;
    color: crimson;
    font-size: 35px;
    font-family: "indie flower", serif; }

  .con1 h3 {
    padding-left: 10%;
    color: crimson;
    font-family: "lobster"; }

  .con1 p {
    color: crimson;
    font-family: "lobster"; }

  .hero {
    width: 100%;
    position: relative;
    background: #59599a;
    padding: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center; }

  .he1, .he3 {
    font-size: 35px;
    font-family: "indie flower", serif;
    padding: 50px 0;
    color: #080840; }

  .he2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px; }

  .he2 div {
    width: 50%;
    color: #080840;
    font-family: "lobster"; }

  .he2 .he21 {
    width: 50%; }

  .he2 .he22 {
    width: 50%; }

  .features {
    width: 100%;
    padding: 50px 0;
    background: #4fa06b;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

  .fea1, .fea3 {
    font-size: 35px;
    font-family: "indie flower", serif;
    padding: 50px 0;
    color: #064b13;
    padding-left: 13%; }

  .fea2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    margin-left: 14%; }

  .fea p {
    color: #064b13;
    font-family: "lobster";
    padding: 0 100px; }

  .fea2 .fea21 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

  .fea2 .fea21 h1 {
    font-family: "indie flower", serif;
    color: #064b13; } }
@media (min-width: 1360px) {
  * {
    margin: 0;
    padding: 0; }

  ul li {
    list-style-type: none; }

  a {
    text-decoration: none;
    color: crimson; }

  .container {
    position: relative;
    width: 1349px;
    height: 670px; }

  .fd1 {
    position: relative;
    height: 670px;
    width: 1349px; }

  .ful1 {
    overflow: hidden;
    width: 4000px;
    margin: 0;
    padding: 0;
    list-style: none; }

  .ful1 li {
    width: 1349px;
    height: 670px;
    position: absolute; }

  .ful1 li img {
    width: 1349px;
    height: 670px; }

  .navigation {
    position: absolute;
    display: flex;
    width: 100%; }

  .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    display-direction: row;
    justify-content: center;
    width: 100%; }

  .nav li {
    color: #fff;
    text-shadow: none;
    list-style-type: none;
    margin: 20px 50px;
    font-size: 25px;
    font-weight: bold;
    font-family: "poiret one", serif; }

  .nav2 {
    position: absolute;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    opacity: 0; }

  .nav li:hover .nav2 {
    animation-name: fadein;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-fiction: linear; }

  @keyframes fadein {
    0% {
      opacity: 1; }
    50% {
      opacity: 1; }
    100% {
      opacity: 1; } }
  .head {
    color: crimson;
    position: absolute;
    top: 430px;
    left: 60px;
    border-top: 1px solid crimson;
    width: 700px; }

  .head h3 {
    font-size: 60px;
    padding-top: 7px;
    font-family: "Playfair Display", serif;
    color: crimson; }

  .head h3 span {
    font-family: "lobster";
    color: crimson; }

  .head h2 {
    color: crimson;
    padding-top: 10px;
    font-size: 30px;
    font-family: "playfair display", serif; }

  .content {
    background: #bc758b;
    padding: 100px 0;
    width: 100%;
    position: relative; }

  .content-h {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-around; }

  .con1 {
    width: 30%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .con1 h1 {
    padding-left: 27%;
    color: crimson;
    font-size: 35px;
    font-family: "indie flower", serif; }

  .con1 h3 {
    padding-left: 10%;
    color: crimson;
    font-family: "lobster"; }

  .con1 p {
    color: crimson;
    font-family: "lobster"; }

  .hero {
    width: 100%;
    position: relative;
    background: #59599a;
    padding: 50px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .he1, .he3 {
    font-size: 35px;
    font-family: "indie flower", serif;
    padding: 50px 0;
    color: #080840; }

  .he2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around; }

  .he2 div {
    width: 30%;
    color: #080840;
    font-family: "lobster"; }

  .features {
    width: 100%;
    padding: 50px 0;
    background: #4fa06b;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

  .fea1, .fea3 {
    font-size: 35px;
    font-family: "indie flower", serif;
    padding: 50px 0;
    color: #064b13;
    padding-left: 13%; }

  .fea2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    height: 200px;
    justify-content: center;
    margin-left: 14%; }

  .fea p {
    color: #064b13;
    font-family: "lobster";
    padding: 0 100px; }

  .fea2 .fea21 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column; }

  .fea2 .fea21 h1 {
    font-family: "indie flower", serif;
    color: #064b13; } }

/*# sourceMappingURL=style.css.map */
